
@*@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Site/Views/Shared/_SiteLayout.cshtml";
}

@model EditVM





<style>
    .field-validation-error {
        color: red;
    }
</style>

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">


                    @if (Model.UserEdit.name != null && Model.UserEdit.surname != null)
                    {
                        <h1>@Model.UserEdit.name @Model.UserEdit.surname’s profile</h1>

                    }
                    else
                    {
                        <h1>@Model.UserEdit.username’s profile</h1>

                    }

                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        <a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
                        <a href="#" class="redbtn">Change avatar</a>
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li class="active"><a href="/profile/@TempData["ID"]">Profile</a></li>
                            <li><a href="/watchlist">My Watchlist</a></li>
                            <li><a href="/ratelist">Rated movies</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a href="/profile/@TempData["ID"]">Change password</a></li>
                            <li><a href="/Site/UserLogin/Logout">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro" action="#">

                    @await Html.PartialAsync("Partial/EditPartial", Model.UserEdit)
                    @await Html.PartialAsync("Partial/ChangePartial", Model.Change)

                </div>
            </div>


        </div>
    </div>
</div>*@
